@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-page-bg
    }

    .scrollbar::-webkit-scrollbar {
        width: 20px;
    }
    
    .scrollbar::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    .scrollbar::-webkit-scrollbar-thumb {
        background-color: #28394d;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
    }
    
    .scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #374e6a;
    }

    @font-face {
        font-family: Pop-Med;
        src: url("../public/fonts/Poppins-Medium.ttf");
    }

    @font-face {
        font-family: Pop-Reg;
        src: url("../public/fonts/Poppins-Regular.ttf");
    }

    @font-face {
        font-family: Pop-Semi;
        src: url("../public/fonts/Poppins-SemiBold.ttf");
    }
}